<form (ngSubmit)="getDat(user_id.value)">
  <div class="card">
    <div class="card-header">
      <strong>Get Insured Details</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label>ID</label>
            <input type="number" class="form-control" #user_id placeholder="ID of client">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary">
        <i class="fa fa-dot-circle-o"></i> Submit</button>
    </div>
  </div>
</form>



<div *ngIf="ShowResults">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card">
  <div class="card-body">
  <h1 style="font-weight: bold; color: green;">avg : {{avg1}} sum : {{sum1}} type1: {{type11}} </h1>
  <p >type2: {{type21}} type3: {{type31}} type4: {{type41}} guilt : {{guilt1}}</p>
    <p>Number Of accidents: {{counter1}} </p>
  </div>
</div>
</div>

