<form>
  <div class="card">
    <div class="card-header">
      <strong>Report Incident</strong>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">ID</label>
            <input type="number" class="form-control" id="name" placeholder="ID of client">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary" (click)="OnReport();">
        <i class="fa fa-dot-circle-o"></i> Submit</button>
    </div>
  </div>
</form>